.user-view-page {
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #05d69e;
    background-color: #c3fdee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
  }
}