/* ==============
  Buttons
===================*/

.btn {
  border-radius: 3px;
  font-weight: 500;
}

.btn-primary{
  background-color: $primary;
  border: 1px solid $primary;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: darken($primary, 5%);
  border: 1px solid darken($primary, 5%);
}